<div class="pf-top-header">
    <div class="row pf-top-header-container">
            <ul class="left-menu">
                <li><a href="#">Residential</a></li>
                <li><a href="#">Cox Business</a></li>
                <li><a href="#">Espanol</a></li>
            </ul>
            <ul class="right-menu">
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Atlanta, GA</a></li>
            </ul>
    </div>
</div>